<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>AFGHANISTAN</string>
    <string>ALBANIA</string>
    <string>ALGERIA</string>
    <string>ANDORRA</string>
    <string>ANGOLA</string>
    <string>ANTIGUA AND BARBUDA</string>
    <string>ARGENTINA</string>
    <string>ARMENIA</string>
    <string>AUSTRALIA</string>
    <string>AUSTRIA</string>
    <string>AZERBAIJAN</string>
    <string>BAHAMAS</string>
    <string>BAHRAIN</string>
    <string>BANGLADESH</string>
    <string>BARBADOS</string>
    <string>BELARUS</string>
    <string>BELGIUM</string>
    <string>BELIZE</string>
    <string>BENIN</string>
    <string>BHUTAN</string>
    <string>BOLIVIA</string>
    <string>BOSNIA AND HERZEGOVINA</string>
    <string>BOTSWANA</string>
    <string>BRAZIL</string>
    <string>BRUNEI</string>
    <string>BULGARIA</string>
    <string>BURKINA FASO</string>
    <string>BURUNDI</string>
    <string>CABO VERDE</string>
    <string>CAMBODIA</string>
    <string>CAMEROON</string>
    <string>CANADA</string>
    <string>CENTRAL AFRICAN REPUBLIC</string>
    <string>CHAD</string>
    <string>CHILE</string>
    <string>CHINA</string>
    <string>COLOMBIA</string>
    <string>COMOROS</string>
    <string>REPUBLIC OF THE CONGO</string>
    <string>DEMOCRATIC REPUBLIC OF THE CONGO</string>
    <string>COSTA RICA</string>
    <string>CROATIA</string>
    <string>CUBA</string>
    <string>CYPRUS</string>
    <string>CZECH REPUBLIC</string>
    <string>DENMARK</string>
    <string>DJIBOUTI</string>
    <string>DOMINICA</string>
    <string>DOMINICAN REPUBLIC</string>
    <string>EAST TIMOR</string>
    <string>ECUADOR</string>
    <string>EGYPT</string>
    <string>EL SALVADOR</string>
    <string>EQUATORIAL GUINEA</string>
    <string>ERITREA</string>
    <string>ESTONIA</string>
    <string>ETHIOPIA</string>
    <string>FIJI</string>
    <string>FINLAND</string>
    <string>FRANCE</string>
    <string>GABON</string>
    <string>GAMBIA</string>
    <string>GEORGIA</string>
    <string>GERMANY</string>
    <string>GHANA</string>
    <string>GREECE</string>
    <string>GRENADA</string>
    <string>GUATEMALA</string>
    <string>GUINEA</string>
    <string>GUINEA BISSAU</string>
    <string>GUYANA</string>
    <string>HAITI</string>
    <string>HONDURAS</string>
    <string>HUNGARY</string>
    <string>ICELAND</string>
    <string>INDIA</string>
    <string>INDONESIA</string>
    <string>IRAN</string>
    <string>IRAQ</string>
    <string>IRELAND</string>
    <string>ISRAEL</string>
    <string>ITALY</string>
    <string>IVORY COAST</string>
    <string>JAMAICA</string>
    <string>JAPAN</string>
    <string>JORDAN</string>
    <string>KAZAKHSTAN</string>
    <string>KENYA</string>
    <string>KIRIBATI</string>
    <string>KOSOVO</string>
    <string>KUWAIT</string>
    <string>KYRGYZSTAN</string>
    <string>LAOS</string>
    <string>LATVIA</string>
    <string>LEBANON</string>
    <string>LESOTHO</string>
    <string>LIBERIA</string>
    <string>LIBYA</string>
    <string>LIECHTENSTEIN</string>
    <string>LITHUANIA</string>
    <string>LUXEMBOURG</string>
    <string>MACEDONIA</string>
    <string>MADAGASCAR</string>
    <string>MALAWI</string>
    <string>MALAYSIA</string>
    <string>MALDIVES</string>
    <string>MALI</string>
    <string>MALTA</string>
    <string>MARSHALL ISLANDS</string>
    <string>MAURITANIA</string>
    <string>MAURITIUS</string>
    <string>MEXICO</string>
    <string>MICRONESIA</string>
    <string>MOLDOVA</string>
    <string>MONACO</string>
    <string>MONGOLIA</string>
    <string>MONTENEGRO</string>
    <string>MOROCCO</string>
    <string>MOZAMBIQUE</string>
    <string>MYANMAR</string>
    <string>NAMIBIA</string>
    <string>NAURU</string>
    <string>NEPAL</string>
    <string>NETHERLANDS</string>
    <string>NEW ZEALAND</string>
    <string>NICARAGUA</string>
    <string>NIGER</string>
    <string>NIGERIA</string>
    <string>NORTH KOREA</string>
    <string>NORWAY</string>
    <string>OMAN</string>
    <string>PAKISTAN</string>
    <string>PALAU</string>
    <string>PALESTINE</string>
    <string>PANAMA</string>
    <string>PAPUA NEW GUINEA</string>
    <string>PARAGUAY</string>
    <string>PERU</string>
    <string>PHILIPPINES</string>
    <string>POLAND</string>
    <string>PORTUGAL</string>
    <string>QATAR</string>
    <string>ROMANIA</string>
    <string>RUSSIA</string>
    <string>RWANDA</string>
    <string>SAINT KITTS AND NEVIS</string>
    <string>SAINT LUCIA</string>
    <string>SAINT VINCENT AND THE GRENADINES</string>
    <string>SAMOA</string>
    <string>SAN MARINO</string>
    <string>SAO TOME AND PRINCIPE</string>
    <string>SAUDI ARABIA</string>
    <string>SENEGAL</string>
    <string>SERBIA</string>
    <string>SEYCHELLES</string>
    <string>SIERRA LEONE</string>
    <string>SINGAPORE</string>
    <string>SLOVAKIA</string>
    <string>SLOVENIA</string>
    <string>SOLOMON ISLANDS</string>
    <string>SOMALIA</string>
    <string>SOUTH AFRICA</string>
    <string>SOUTH KOREA</string>
    <string>SOUTH SUDAN</string>
    <string>SPAIN</string>
    <string>SRI LANKA</string>
    <string>SUDAN</string>
    <string>SURINAME</string>
    <string>SWAZILAND</string>
    <string>SWEDEN</string>
    <string>SWITZERLAND</string>
    <string>SYRIA</string>
    <string>TAIWAN</string>
    <string>TAJIKISTAN</string>
    <string>TANZANIA</string>
    <string>THAILAND</string>
    <string>TOGO</string>
    <string>TONGA</string>
    <string>TRINIDAD AND TOBAGO</string>
    <string>TUNISIA</string>
    <string>TURKEY</string>
    <string>TURKMENISTAN</string>
    <string>TUVALU</string>
    <string>UGANDA</string>
    <string>UKRAINE</string>
    <string>UNITED ARAB EMIRATES</string>
    <string>UNITED KINGDOM</string>
    <string>UNITED STATES OF AMERICA</string>
    <string>URUGUAY</string>
    <string>UZBEKISTAN</string>
    <string>VANUATU</string>
    <string>VATICAN CITY</string>
    <string>VENEZUELA</string>
    <string>VIETNAM</string>
    <string>YEMEN</string>
    <string>ZAMBIA</string>

</array>
</plist>
