<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>ADAM STRANGE</string>
    <string>AGENT LIBERTY</string>
    <string>AIR WAVE</string>
    <string>ANIMAL MAN</string>
    <string>AQUALAD</string>
    <string>AQUAMAN</string>
    <string>ARSENAL</string>
    <string>ARTEMIS OF BANA MIGHDALL</string>
    <string>THE ATOM</string>
    <string>ATOM SMASHER</string>
    <string>AURAKLES</string>
    <string>AZRAEL</string>
    <string>AZTEC</string>
    <string>BART ALLEN</string>
    <string>BARRY ALLEN</string>
    <string>BATGIRL</string>
    <string>BATMAN</string>
    <string>BEAST BOY</string>
    <string>BLACK CANARY</string>
    <string>BLUE BEETLE</string>
    <string>BOOSTER GOLD</string>
    <string>BRONZE TIGER</string>
    <string>CAPTAIN MARVEL JUNIOR</string>
    <string>CASSANDRA CAIN</string>
    <string>CYBORG</string>
    <string>COMEDIAN</string>
    <string>CAPTAIN METROPOLIS</string>
    <string>CAPTAIN MARVEL</string>
    <string>CALENDAR MAN</string>
    <string>CATWOMAN</string>
    <string>CONNOR HAWKE</string>
    <string>DAN THE DYNA-MITE</string>
    <string>DAMIAN WAYNE</string>
    <string>DICK GRAYSON</string>
    <string>DONNA TROY</string>
    <string>DOCTOR FATE</string>
    <string>DOCTOR MANHATTAN</string>
    <string>ELONGATED MAN</string>
    <string>FIRE</string>
    <string>FIRESTORM</string>
    <string>FELICITY SMOAK</string>
    <string>THE FLASH</string>
    <string>FERRO LAD</string>
    <string>GANGBUSTER</string>
    <string>GREEN ARROW</string>
    <string>GUARDIAN</string>
    <string>GUY GARDNER</string>
    <string>GREEN LANTERN</string>
    <string>GYPSY</string>
    <string>HAL JORDAN</string>
    <string>HAWKMAN</string>
    <string>HAWKGIRL</string>
    <string>HANK HALL</string>
    <string>HOODED JUSTICE</string>
    <string>HOURMAN</string>
    <string>HUNTRESS</string>
    <string>ICE</string>
    <string>ICEMAIDEN</string>
    <string>IMPULSE</string>
    <string>IRIS WEST</string>
    <string>JASON TODD</string>
    <string>JERICHO</string>
    <string>JEZEBELLE</string>
    <string>JOHN STEWART</string>
    <string>JOHNNY QUICK</string>
    <string>JONAH HEX</string>
    <string>JUDOMASTER</string>
    <string>KAMANDI</string>
    <string>KARATE KID</string>
    <string>KATANA</string>
    <string>KATE SPENCER</string>
    <string>KYLE RAYNER</string>
    <string>KID FLASH</string>
    <string>KENT SHAKESPEARE</string>
    <string>LAGOON BOY</string>
    <string>LIBERTY BELLE</string>
    <string>MANHUNTER</string>
    <string>MARTIAN MANHUNTER</string>
    <string>MARY MARVEL</string>
    <string>MAS Y MENOS</string>
    <string>METAMORPHO</string>
    <string>MISFIT</string>
    <string>MISTER AMERICA</string>
    <string>MISTER TERRIFIC</string>
    <string>MISS MARTIAN</string>
    <string>NIGHTWING</string>
    <string>NITE OWL</string>
    <string>NITE OWL II</string>
    <string>OLIVER QUEEN</string>
    <string>ORACLE</string>
    <string>ORIN</string>
    <string>OWLMAN</string>
    <string>OWLWOMAN</string>
    <string>OZYMANDIAS</string>
    <string>PANTHA</string>
    <string>PHANTOM LADY</string>
    <string>PLASTIC MAN</string>
    <string>POISON IVY</string>
    <string>POWER GIRL</string>
    <string>THE QUESTION</string>
    <string>RAVEN</string>
    <string>RAY</string>
    <string>RED ARROW</string>
    <string>RED TORNADO</string>
    <string>ROBIN</string>
    <string>ROBOTMAN</string>
    <string>ROCKET</string>
    <string>ROCKET RED</string>
    <string>RORSCHACH</string>
    <string>ROY HARPER</string>
    <string>SANDY HAWKINS</string>
    <string>SEVEN SOLDIERS OF VICTORY</string>
    <string>SHAZAM</string>
    <string>SHINING KNIGHT</string>
    <string>SILK SPECTRE</string>
    <string>SOLOMON GRUNDY</string>
    <string>SPECTRE</string>
    <string>SPEEDY</string>
    <string>STARFIRE</string>
    <string>STARGIRL</string>
    <string>STARMAN</string>
    <string>STAR SPANGLED KID</string>
    <string>STATIC</string>
    <string>STEPHANIE BROWN</string>
    <string>STRIPE</string>
    <string>SUPERBOY</string>
    <string>SUPERGIRL</string>
    <string>SUPERMAN</string>
    <string>TIGER</string>
    <string>TIM DRAKE</string>
    <string>TERRY MCGINNIS</string>
    <string>TERRA</string>
    <string>TEX THOMPSON</string>
    <string>TNT</string>
    <string>VIGILANTE</string>
    <string>V</string>
    <string>VIXEN</string>
    <string>WALLY WEST</string>
    <string>WILDCAT</string>
    <string>WONDER GIRL</string>
    <string>WONDER WOMAN</string>
    <string>ZATANNA</string>
</array>
</plist>
